{% extends 'base.html' %}
{% load static %}
{% block title %}
  MultiApps - Template
{% endblock %}

{% block content %}
  <section class="ud-hero" id="home">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="ud-hero-content wow fadeInUp" data-wow-delay=".2s">
            <h1 class="ud-hero-title">Agendamento</h1>
            <p class="ud-hero-desc">Seu App de Agendamentos</p>
            <ul class="ud-hero-buttons">
              <li>
                <a href="{% url 'core:index_core' %}" rel="nofollow noopener" class="ud-main-btn ud-white-btn">Escolher app</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
