{% extends 'base.html' %}
{% load static %}
{% block title %}
  MultiApps - Template
{% endblock %}

{% block content %}
  <section class="ud-hero" id="home">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="ud-hero-content wow fadeInUp" data-wow-delay=".2s">
            <h1 class="ud-hero-title">Escolha o seu app</h1>
            <p class="ud-hero-desc">Multi Apps - Template</p>
            <ul class="ud-hero-buttons">
              <li>
                <center>
                <a href="{% url 'chamados:index_chamados' %}" rel="nofollow noopener" class="ud-main-btn ud-white-btn">App de Chamados</a><br/>
                <a href="{% url 'agendamento_veiculos:index_agendamento' %}" rel="nofollow noopener" class="ud-main-btn ud-white-btn">App de Agendamento de Vistoria</a>
                </center>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
    